a{
    color: #ff8200;
}

::selection {
    background: #ff8200;
    color: #fff;
}

::-moz-selection{
    background: #ff8200;
    color: #fff;
}

.topo{
    width: 100%;
    height: 100vh;
    background-image: url('../img/bgpt.svg');
    background-attachment: fixed;
}

.trabalhos{
    background-image: url('../img/bgpt-branco.svg');
    margin: 5px 0 60px 0
}

.bg-fixed{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.v-center{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    color: #fff;
    font-size: 10rem;
}

.trabalho-img{
    width: 250px;
    height: 250px;
    transition: 0.3s;
}

.trabalho-img:hover{
    filter: grayscale(100%);
}

.social{
    width: 50px;
    height: 50px;
    filter: brightness(0%);
    transition: 0.3s;
}

.social:hover{
    filter: brightness(100%);
}