# PAGINA DE ERRO
ErrorDocument 400 /erro/404
ErrorDocument 401 /erro/401
ErrorDocument 403 /erro/403
ErrorDocument 404 /erro/400
ErrorDocument 500 /erro/500

# CONFIGURAR UTILIZAÇÃO DO HTTPS
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://felipesobral.com.br/$1 [R,L]